server:
  port: 8010
spring:
  application:
    name: server
  security:
    user:
      name: app-user
      password: 123456
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/cs544
    username: root
    password: T1la@mysql
    driverClassName: com.mysql.cj.jdbc.Driver
    hikari:
      maximumPoolSize: 10
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
        implicit-strategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyLegacyJpaImpl
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
logging:
  file:
    name: /EA/Labs/${spring.application.name}/log

